#<h2 class="py-2 mb-0">Nuevo Tweet</h2>

#<%= render "form", tweet: @tweet %>

 <%= tweet = Tweet.new %>
<%= form_with model: tweet do |f| %>
  <%= f.text_area :content, placeholder: "¿Qué está pasando?",
    size: "60x10" %>

  <%= f.submit "Twittear" %>
<% end %>